<div class="row">
    <div class="col-xs-12">
        <img src="{{recipieToDetail.imagePath}}" class="img-responsive" >
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipieToDetail.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary dropdown-toggle">مدیریت دستور غذا<span class="caret"></span></button>
        <ul class=" dropdown-menu">
            <li><a href="#">افزودن مواد غذایی</a></li>
            <li><a href="#">ویرایش دستور غذا</a></li>
            <li><a href="#">حذف دستورغذا</a></li>
        </ul> 
    </div>
</div>
<div class="row">
    <div class="col-xs-12">{{recipieToDetail.description}}</div>
</div>
<div class="row">
    <div class="col-xs-12">مواد غذایی</div>
</div>